[submodule "habs-parser"]
	path = habs-parser
	url = https://github.com/abstools/habs-parser
[submodule "habs-runtime"]
	path = habs-runtime
	url = https://github.com/abstools/habs-runtime
  branch = sim
[submodule "habs-stdlib"]
	path = habs-stdlib
	url = https://github.com/abstools/habs-stdlib
[submodule "habs-samples"]
	path = habs-samples
	url = https://github.com/abstools/habs-samples
