[submodule "habs-parser"]
	path = habs-parser
	url = https://github.com/abstools/habs-parser
[submodule "habs-runtime"]
	path = habs-runtime
	url = https://github.com/abstools/habs-runtime
[submodule "habs-stdlib"]
	path = habs-stdlib
	url = https://github.com/abstools/habs-stdlib
[submodule "habs-samples"]
	path = habs-samples
	url = https://github.com/abstools/habs-samples
[submodule "haskell-src-exts-qq"]
	path = haskell-src-exts-qq
	url = https://github.com/bezirg/haskell-src-exts-qq
